<ion-view view-title="City360">
  <ion-content class="padding">

    <div ng-hide="lat" class="padding" style="padding-top: 15px; font-weight:400;">
      <h3>Retrieving your location</h3>
      <p>City360 is now using your location to locate the closest station</p>
      <br>
    
      <center>
        <ion-spinner icon="lines"></ion-spinner>
        <br>
        <h6>(Please ensure your location service is turned on)</h6>
      </center>
    </div>

    <div ng-show="resp.data[0].name" class="padding">
      <h3>Location retrieved</h3>
      <p >Your closest station is <b>{{resp.data[0].name}}</b></p>
      <br/>
      <button class="button button-block button-calm " ng-click="continueToDash()">
        Set as favourite location
      </button>
    </div>

  </ion-content>
</ion-view>