<ion-view view-title="Welcome to City360">
  <ion-content class="padding">

    <br><br>

    <!-- <h3 align="center">Harta.org Property Management</h3> -->
    <img style="width: 100%;
    margin: 0 auto;" ng-src="img/logo_splash.png">
    
    <br><br>

    <div class="row" style="padding-left: 80px; padding-right: 80px">
      <div class="col">
        <center>
          <img ng-src="img/humidity.png" width="60%" height="60%">
        </center>
      </div>
      <div class="col">
        <center>
          <img ng-src="img/temp2.png" width="60%" height="60%">
        </center>
      </div>
      <div class="col">
        <center>
          <img ng-src="img/pressure.png" width="60%" height="60%">
        </center>
      </div>
    </div>

    <br>

    <center>
      <p style="font-size:18px; font-weight:300; padding-right:70px; padding-left:70px;">Hyper-local environmental data at your fingertips.</p>
    </center>
    
    <br>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="continue()">
        Continue
      </button>
    </div>

  </ion-content>
</ion-view>