<ion-view view-title="City360">
  <ion-content>

    <div class="padding" style="padding-left: 25px; padding-top: 15px; font-weight:400;">
      <h3>
        Select favourite location
      </h3>
      <p>Information for your favourite location will be displayed on the application dashboard.</p>
    </div>

    <ul class="list">
        <li class="item" ng-click="select(1)">
          Cyber 1
        </li>
        <li class="item">
          Cyber 2
        </li>
        <li class="item">
          Cyber 3
        </li>
        <li class="item">
          Cyber 4
        </li>
        <li class="item">
          Cyber 5
        </li>
        <li class="item">
          Cyber 6
        </li>
        <li class="item">
          Cyber 7
        </li>
        <li class="item">
          Cyber 8
        </li>
    </ul>

  </ion-content>
</ion-view>