<ion-view view-title="City360">
  <ion-content scroll="false">
    <ion-list>
    	<div class="item item-divider">
			Settings
		</div>
    	<a class="item" ng-click="changeFavLocation()">
		    Favourite Location
		    <span class="badge badge-calm">{{favLocation.name}}</span>
		</a>
		<a class="item" ng-click="clearData()">
		    Clear Data
		</a>
		<div class="item item-divider">
			Version
		</div>
		<li class="item">
	      <b>v0.3 (dev)</b>
	    </li>
		<div class="item item-divider">
			About
		</div>
    </ion-list>

    <center>
	    <p class="padding">City360 Final Year Project is created in association with:</p>
	    <img src="img/taylorsuni.jpg" width="80%">
	    <br><br>
	    <b>Project Partner</b>
	    <br><br>
	    <img src="img/cyberview.png" width="60%">
    </center>
  </ion-content>
</ion-view>
