<ion-view view-title="City360">
  <ion-content class="padding background" scroll="false">
    <center>
      <div class="fadeMe animated fadeOutLeft">
        <img ng-src="img/clouds_small.png">
      </div>
      <div>
        <br>

        <h3 style="color:white;">{{location.name}}</h3>
        
        <br><br><br>
        <!-- old color - color:#70cff9; -->
        <p style="font-size:100px; font-weight:100; color:#ffffff;">
          {{location.riskPercent}}%
        </p>

        <br><br>
        <p style="font-size:18px; font-weight:400; padding-right:70px; padding-left:70px; color:#ffffff;">{{location.riskText}}</p>
        <br><br>
      </div>

      <div class="list card">
        <div class="row padding item" style="padding-top:20px; padding-bottom:20px;">
          <div class="col">
            <img ng-src="img/humidity.png" width="50%" height="50%">
            <h3>{{location.humidity}}%</h3>
          </div>
          <div class="col">
            <img ng-src="img/temp.png" width="50%" height="50%">
            <h3>{{location.temp}}°C</h3>
          </div>
          <div class="col">
            <img ng-src="img/pressure.png" width="50%" height="50%">
            <h3>{{location.pressure}}mb</h3>
          </div>
        </div>

        <div class="item item-divider row" style="padding-right:40px; padding-left:40px; padding-top: 10px; padding-bottom: 10px;">
          <div class="col text-left">
            <p style="font-size: 14px;">LAST UPDATED</a>
          </div>
          <div class="col text-right">
            <p style="font-size: 14px;">
            {{location.lastUpdatedTime}},
            {{location.lastUpdatedDate}}
            </p>
          </div>
        </div>

      </div>

      <br>

    </center>
    
  </ion-content>
</ion-view>
