<ion-view view-title="City360">
  <ion-content scroll="false">
    <ion-list>
    	<div class="item item-divider">
			Settings
		</div>
    	<a class="item item-icon-left" ng-click="changeFavLocation()">
		    <i class="icon ion-android-star"></i>
		    Favourite Location
		    <span class="badge badge-calm">{{favLocation.name}}</span>
		  </a>
		<div class="item item-divider">
			About
		</div>
    </ion-list>

    <p class="padding">Created for Final Year Project in conjunction with Cyberview & Taylor's University</p>
  </ion-content>
</ion-view>
