<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard / FAV LOCATION Tab -->
  <ion-tab title="Favourite Location" icon-off="ion-android-star-outline" icon-on="ion-android-star" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- All locations Tab -->
  <ion-tab title="All Locations" icon-off="ion-map" icon-on="ion-android-map" href="#/tab/allLocations">
    <ion-nav-view name="tab-allLocations"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
