/* Empty. Add your own CSS if you like */
.background.scroll-content{ 
background: url('../img/bg-gradient-1x.png') no-repeat; 
background-size: cover; 
background-position: center; 
margin: auto; 
z-index: 2; 
}

div.fadeMe {
  opacity:    1;  
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  z-index: 0;
}

.location-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.location-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.spinner svg {
  width: 50%;
  height: 30%;
  stroke: #444;
  fill: #444;
}